#mainNav{
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: rgb(250, 249, 246);
}

.nav-link {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 29px;
    border-radius: 23px;
    z-index: 1;
}

.hostel_management_system {
    margin-left: 278px;
    padding-left: 1px;
    width: 30vw;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    border-radius: 23px;
}

.nav-link:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.416);
    font-weight: 100;
    z-index: 1;
}

.container{
    display: inline-block;
    margin: 0px;
}


.index_html_and_css{
    background: rgb(195,175,120);
background: linear-gradient(0deg, rgba(195,175,120,1) 0%, rgba(255,255,255,1) 100%);
    height: 80vh;
}

.content_container{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text_container{
    width: 70%;
}

.hostel_image{
    width: 54%;
    height: 30%;
    margin-right: 30px;
    margin-top: 200px;
}

.text_container{
    margin-top: 150px;
    margin-left: 30px;
    padding-left: 101px;
    padding-top: 63px;
    
}

.we_can_get{
    font-size: 40px;
    margin:0px;
}

.best_hostels{
    color: #1C768F;
    font-size: 100px;
    margin:0px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.footer{
    background-color: rgb(24, 26, 53);
    margin: 0px;
    height: 20vh;
}

.footer_heading{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 23px;
}

.footer_heading h2{
    font-size: 15px;
    margin-top: 100px;
}

.login_page_container{
    padding: 250px 660px;
    background: rgb(195,175,120);
    background: linear-gradient(0deg, rgba(195,175,120,1) 0%, rgba(255,255,255,1) 100%);
}

.login_page_inner_container{
    background-color: white;
    padding: 60px;
    padding-bottom: 40px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 12px;
}    

.login_form_heading{
    margin-bottom: 44px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.login_page_inner_container .form-label{
    font-size: 18px;
}

#submit{
    width: 100%;
}

#Admin{
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
}
#Student{
    width: 100%;
    height: 50px;
    
}