
.login_page_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* .student_button{
    margin: 2px solid red;
}
.admin_button{
} */

.login_links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
    border-radius: 12px;
    background-color: #1379b8;
    color: white;
    font-size: 18px;
    text-decoration: none;
    height: 90px;
    font-size: 29px;
    margin-top: 54px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.login_links:hover{
    background-color: #2692d5;
    
}


.login_page_inner_container {
    background-color: white;
    padding: 60px;
    padding-bottom: 40px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 12px;
    margin: 12px 100px;
}
.login_page_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 70px;
}
