    <link rel="stylesheet" href="../static/css/about.css">
    {% include "header.html" %}
    

    <header class="about_container"></header>
    <div class="about">
        <div class="imgee">
            <div id="para1"><h1>We didn't find it for us,
                so we created it for you
                 <h3 class="about_para_content">
                    "Unable to find a place that truly felt like home, we decided to take matters into our own hands and create a haven that we believe you'll cherish as your own. Our journey began with the simple desire to provide you with the comfort and warmth of home away from home. Welcome to our sanctuary.
                    
                    </h3>  </h1></div>
            <div><img src="../static/images/about_1.jpg" alt=""></div>
        </div>
        <div class="imgee2">
            <img src="../static/images/about_2.jpg" alt="">
            <div class="para2">
                <h1>You needed a place like home,
                    so we moved back home
                <h3 class="about_para_content">"You were searching for a place that feels like home, so we decided to bring 'home' to you. Our mission is to provide you with a comfortable and welcoming environment, where you can experience the warmth and security of home even when you're away. At our hostel, we've created a space that's not just a place to stay but a place to belong.</h3></h1>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
