{% include "header.html" %}


<link rel="stylesheet" href="../static/css/index.css">

<div class="index_html_and_css">
    <div class="content_container">
        <div class="text_container">
            <p class="we_can_get">Get the</p>
            <h1 class="best_hostels">Best Hostels </h1>
            <p class="we_can_get">near you...</p>
        </div>
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/people-living-in-a-sharing-room-hostel-4665941-3901826.png" alt="" class="hostel_image">
    </div>    
</div>
{% extends "footer.html" %}



